libraries
.libraries.json
ts/node_modules
ts/dist
ts/.nyc_output
ts/coverage
ts/package-lock.json
go.sum
.DS_Store

.classpath
.settings/
.project

**/csharp/**/bin/
**/csharp/**/obj/
**/csharp/**/.vs/

.idea/
target/
*.iml
*.sh
