# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
defaults:
  run:
    shell: bash
    working-directory: java
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # test against latest update of each major Java version, as well as specific updates of LTS versions:
        java: [7, 8, 9, 11, 12, 13, 14, 15, 16, 17]

    steps:
    - uses: actions/checkout@v2
    - name: Set up java
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Test
      run: mvn test -B
    - uses: codecov/codecov-action@v4
      with:
        flags: java # optional
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
